html,body{width: 100%;height: 100%;}
body{ font-family: 'Raleway', sans-serif; }
.circle{ border-radius: 50%; height: 42px; width: 42px;}
header img{ border-radius: 50%; }
#knowledge .d-flex.flex-wrap > *{ min-width: 100%; }
@media (min-width: 992px) { main .list{ min-height:100vh; }
    main .list .item .card{ padding: .5rem; min-height: 216px;  width: 100%; }
    main .list .item img{ height: 158px; }
    main .list .item{ overflow: hidden; }
    #knowledge .d-flex.flex-wrap > *{ min-width: inherit;}
}
